@using System.Data
@{

}
@section head{<title></title> }
@section content{

<body>
<form method="post" action="/admin/User/Mail/SubscriptListManage?menu=audit" id="form1" enctype="multipart/form-data">
<div class="aspNetHidden">
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwULLTE1OTY0NjU1OTEPZBYCZg9kFgICAQ9kFgJmD2QWAmYPPCsAEQMADxYGHgtfIURhdGFCb3VuZGceC18hSXRlbUNvdW50Zh4QVmlydHVhbEl0ZW1Db3VudGZkARAWABYAFgAMFCsAAGQYAQURY3RsMDAkQ29udGVudCRFR1YPPCsADAEIZmRxG5m7O8hHHAH94FQFZD0U4H0gLwtUJrxww617JcOt3Q==">
</div>


<script src="/WebResource.axd?d=zlQoV3NFVU7CihEqRvTzsmo7U9Dm3x2KpMOKS1P5aaqpkB2Bos7GG3VDSfH09-TuMLYt2OPAnB_h5J6kG1tgA2fX7Jn81Nx7KqjIUrFNDCT9UCRYHIxNbAiHKzFJeFl5tA5OFrIJomXKbucVRZWQFw2&amp;t=636628409101176276" type="text/javascript"></script>
<script src="/WebResource.axd?d=P_gbo3DGztxAAZZksTnKA0JBfQkCMRtxy60STF7cwGgyvH1eX84NmjsMBRlkKCuknTfEPiaoBet6inlhZujjq4uO7ySeHVHQQJZZOELFaY9V66Swaz4dUx8PD2BU3F3w2C8eO8-VWlsHA2_Hh2QetQ2&amp;t=636628409101176276" type="text/javascript"></script>
<div class="aspNetHidden">

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="4F59DEA9">
</div>


<nav aria-label="breadcrumb" role="navigation" class="fixed-top"><ol class="breadcrumb"><li class="breadcrumb-item"><a href="/Admin/I/Main">工作台</a> </li><li class="breadcrumb-item"><a href="SubscriptListManage?menu=all">订阅管理</a> </li><li class="breadcrumb-item active" aria-current="page">邮件订阅</li></ol></nav>

<ul class="nav nav-tabs list_choice" role="tablist">
    <li class="nav-item" id="tab-10" role="presentation"><a class="nav-link active" href="SubscriptlistManage" role="tab">全部</a></li>
    <li class="nav-item" id="tab1" role="presentation"><a class="nav-link" href="SubscriptlistManage?audit=1" role="tab">正常</a></li>
    <li class="nav-item" id="tab-1" role="presentation"><a class="nav-link" href="SubscriptlistManage?audit=-1" role="tab">退订</a></li>
    <li class="nav-item" id="tab0" role="presentation"><a class="nav-link" href="SubscriptlistManage?audit=0" role="tab">停用</a></li>
</ul>
<div>
	<table class="table table-striped table-bordered table-hover" cellspacing="0" rules="all" border="1" id="EGV" style="border-collapse:collapse;">
		<tbody><tr>
			<td colspan="8">当前没有信息!!</td>
		</tr>
	</tbody></table>
</div>
<div class="alert alert-light">
<input type="submit" name="ctl00$Content$BatRe_Btn" value="恢复正常" id="BatRe_Btn" class="btn btn-outline-info mb-1">
<input type="submit" name="ctl00$Content$BatBack_Btn" value="批量退订" id="BatBack_Btn" class="btn btn-outline-info mb-1">
<input type="submit" name="ctl00$Content$BatStop_Btn" value="批量停用" id="BatStop_Btn" class="btn btn-outline-info mb-1">
<input type="submit" name="ctl00$Content$Dels_Btn" value="批量删除" onclick="return confirm('是否确定删除选定项!');" id="Dels_Btn" class="btn btn-outline-danger mb-1">
</div>
<div class="alert alert-info">
    1,在需要订阅邮件功能的页面上引用此(&lt;script src='/js/ICMS/ZL_Subscript.js'&gt;&lt;/script&gt;)代码<br>
    2,用户在填完邮箱并点击订阅后会向用户发送确认邮件，未确认订阅邮件的状态为"停用",已确认订阅邮件的状态为"正常"
</div>

<script>
    var siteconf = {
        path: "/Admin/",
        updir: "/uploadfiles/"
    };
</script>

    <script type="text/javascript">
        $(function () {
            if (window.top != window.self) {//选择模式

            }
        });
        function ShowTab(id) {
            $(".nav-tabs li").find("a").removeClass('active');
            $("#tab" + id).find("a").addClass('active');
        }
    </script>



<script type="text/javascript">
//<![CDATA[
ShowTab(-10);if (typeof(Sys) != 'undefined') Sys.WebForms.PageRequestManager.getInstance().add_endRequest(function endRequestHandler(sender, e){yy_sgv_ccListener();yy_sgv_crListener();});//]]>
</script>
</form>

</body>
 }
@section script{ }
